* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
}

nav {
    position:fixed;
    right: 30px;
    top: 30px;
    font-size: 1.5em;
    z-index: 999;
}

nav a {
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    vertical-align: middle;
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 50%;

}

nav a:hover {
    box-shadow: 4px 4px 10px black;

}

.section {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.center {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#first {
    background-color: red;
    color:yellow;
}

#second {
    background-color: green;
    color:yellow;   
}

#third {
    background-color: yellow;
    color:green;
}